@import './../../../../styles/variables';

.app-bar {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;

    .app-bar__body {
        position: relative;
        max-width: 959px;
        padding: 10px;
        margin: auto;
        padding: 25px 35px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 100px;

        .app-bar__title {
            color: $white_color;

            h1 {
                margin: 0;
                font-weight: lighter;
                font-size: 40px;
            }

            p {
                margin: 0;
                font-size: 15px;
                margin-top: -10px;
            }
        }

        .app-bar__action {
            text-align: right;
        }
    }

    .app-bar__body-light {
        background-color: #BE374F;
    }

    .app-bar__body-dark {
        background-color: #3B1B5A;
    }
}

@media (max-width: 575.98px) {
    .app-bar {
        width: 100%;
        padding: 0 !important;
        box-sizing: border-box;
        margin-bottom: 40px;
    
        .app-bar__body {
            width: 100%;
            box-sizing: border-box;
            border-radius: 0 !important;

            grid-template-columns: 1fr !important;
    
            .app-bar__title {
                color: $white_color;
                text-align: center;
                margin-bottom: 30px;
            }
    
            .app-bar__action {
                text-align: center !important;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .app-bar {
        width: 100%;
        padding: 0 !important;
        box-sizing: border-box;
        margin-bottom: 40px;
    
        .app-bar__body {
            width: 100%;
            box-sizing: border-box;
            border-radius: 0 !important;

            grid-template-columns: 1fr !important;
    
            .app-bar__title {
                color: $white_color;
                text-align: center;
                margin-bottom: 30px;
            }
    
            .app-bar__action {
                text-align: center !important;
            }
        }
    }
}