$primary_color: #BE374F;
$background_color: #FAFAFA;
$white_color: #FFFFFF;

@media (max-width: 575.98px) {
    .app-bar {
        width: 100%;
        padding: 0 !important;
        box-sizing: border-box;
        margin-bottom: 40px;
    
        .app-bar__body {
            width: 100%;
            box-sizing: border-box;
            border-radius: 0 !important;

            grid-template-columns: 1fr !important;
    
            .app-bar__title {
                color: $white_color;
                text-align: center;
                margin-bottom: 30px;
            }
    
            .app-bar__action {
                text-align: center !important;
                
                .btn-action {
                    width: 60px !important;
                    height: 60px !important;

                    svg {
                        height: 24px !important;
                    }
                }
            }
    
            .search-bar {
                form {
                    .form-inline-wrapper {
                        .form-inline {
                            input {
                                width: 280px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .note-list {
        .note-list__body {
            width: 95% !important;

            .note-item__body {
                padding: 15px 15px !important;
                
                h1 {
                    font-size: 16px !important;
                }

                p {
                    font-size: 13px !important;
                }

                .note-item__info {
                    font-size: 11px !important;
                }
            }
        }
    
        .grid-display {
            grid-template-columns: 1fr !important;
        }
    }

    .modal {
        .modal-content {
            .close-button {
                position: absolute;
                left: 45%;
                top: -55px !important;
                width: 44px !important;
                height: 44px !important;
                border-radius: 100%;
                background-color: $white_color;
                padding: 13px 10px;
                border: 0;
                font-size: 18px;
                text-align: center;
                z-index: 99;
                cursor: pointer;
    
                svg {
                    height: 20px !important;
                }
            }

            .modal-content__body {
                width: 280px !important;
                padding: 15px !important;

                .modal-content__title {
                    height: 70px !important;

                    h1 {
                        font-size: 16px !important;
                    }
                }

                .modal-content__content::-webkit-scrollbar
                {
                    width: 6px !important;
                }

                .modal-content__content::-webkit-scrollbar-thumb
                {
                    width: 8px !important;
                }

                .modal-content__content {
                    padding: 0 !important;
                    margin: 15px 0 !important;
                    max-height: 45vh !important;
                    padding-bottom: 10px !important;

                    form {
                        padding: 0 !important;

                        .form-control {
                            margin-top: 10px !important;

                            input, textarea, button {
                                padding: 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .app-bar {
        width: 100%;
        padding: 0 !important;
        box-sizing: border-box;
    
        .app-bar__body {
            width: 100%;
            box-sizing: border-box;
            border-radius: 0 !important;

            grid-template-columns: 1fr !important;
    
            .app-bar__title {
                color: $white_color;
                text-align: center;
                margin-bottom: 30px;
            }
    
            .app-bar__action {
                text-align: center !important;
                
                .btn-action {
                    width: 60px !important;
                    height: 60px !important;

                    svg {
                        height: 24px !important;
                    }
                }
            }
    
            .search-bar {
                form {
                    .form-inline-wrapper {
                        .form-inline {
                            input {
                                width: 320px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .note-list {
        .note-list__body {
            width: 95% !important;
        }
    
        .grid-display {
            grid-template-columns: 1fr !important;
        }
    }

    .modal {
        .modal-content {
            .close-button {
                position: absolute;
                left: 45%;
                top: -55px !important;
                width: 44px !important;
                height: 44px !important;
                border-radius: 100%;
                background-color: $white_color;
                padding: 13px 10px;
                border: 0;
                font-size: 18px;
                text-align: center;
                z-index: 99;
                cursor: pointer;
    
                svg {
                    height: 20px !important;
                }
            }

            .modal-content__body {
                width: 280px !important;
                padding: 15px !important;

                .modal-content__title {
                    height: 70px !important;

                    h1 {
                        font-size: 16px !important;
                    }
                }

                .modal-content__content::-webkit-scrollbar
                {
                    width: 6px !important;
                }

                .modal-content__content::-webkit-scrollbar-thumb
                {
                    width: 8px !important;
                }

                .modal-content__content {
                    padding: 0 !important;
                    margin: 15px 0 !important;
                    max-height: 45vh !important;
                    padding-bottom: 10px !important;

                    form {
                        padding: 0 !important;

                        .form-control {
                            margin-top: 10px !important;

                            input, textarea, button {
                                padding: 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .app-bar {
        .app-bar__body {
            .search-bar {
                form {
                    .form-inline-wrapper {
                        .form-inline {
                            input {
                                width: 400px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .note-list {
        .note-list__body {
            width: 95% !important;
        }
    
        .grid-display {
            grid-template-columns: 1fr 1fr !important;
        }
    }

    .modal {
        .modal-content {
            .close-button {
                position: absolute;
                right: -40px !important;
                top: -40px !important;
                width: 44px !important;
                height: 44px !important;
                border-radius: 100%;
                background-color: $white_color;
                padding: 13px 10px;
                border: 0;
                font-size: 18px;
                text-align: center;
                z-index: 99;
                cursor: pointer;
    
                svg {
                    height: 20px !important;
                }
            }

            .modal-content__body {
                width: 350px !important;

                .modal-content__title {
                    height: 70px !important;

                    h1 {
                        font-size: 16px !important;
                    }
                }

                .modal-content__content::-webkit-scrollbar
                {
                    width: 6px !important;
                }

                .modal-content__content::-webkit-scrollbar-thumb
                {
                    width: 8px !important;
                }

                .modal-content__content {
                    padding: 0 !important;
                    margin: 15px 0 !important;
                    max-height: 45vh !important;
                    padding-bottom: 10px !important;

                    form {
                        padding: 0 !important;

                        .form-control {
                            margin-top: 10px !important;

                            input, textarea, button {
                                padding: 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    // 
}

@media (min-width: 1700px) {
    // 
}