.full-width {
    width: 100% !important;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.display-hide {
    display: none;
}

.empty-state-entry {
    text-align: center;
    
    p {
        font-size: 24px;
        font-weight: lighter;
    }
}